<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/dynamic/style")
</head>
<body>
    <div>
        @ViewData["Msg"].
    </div>
</body>
</html>
